<h1>Rating vergeben</h1>
<form class="ui large form" [formGroup]="ratingForm" (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="entrie_id">
  <input type="hidden" formControlName="user_id">

  <div class="field">
    <label>Dein Rating:</label>
    <input type="number" formControlName="rating">
    <div *ngIf="errors['rating']" class="ui negative message">{{
      errors['rating'] }}</div>
  </div>

  <button type="submit" class="ui button" [disabled]="ratingForm.invalid">Speichern</button>
</form>
