<h1>{{padlet.name}}</h1>
<div class="metadata">
  <div class="content">Padlet ID: {{ padlet.id}}</div>
  <div class="content">Ersteller:In: {{ padlet.user.firstName}} {{ padlet.user.lastName}} (ID: {{padlet.user_id}})</div>

  <div class="content">
    <div *ngIf="padlet?.is_public == true">
      <img class="ui avatar image" src="https://static.thenounproject.com/png/4752321-200.png"
           alt="geschlossenes Schloss">
      <span>öffentlich</span>
    </div>
    <div *ngIf="padlet?.is_public != true">
      <img class="ui avatar image" src="https://cdn-icons-png.flaticon.com/512/1388/1388888.png"
           alt="geschlossenes Schloss">
      <span>privat</span>
    </div>
  </div>

</div>
<div class="ui divider"></div><br>

<button *ngIf="authService.isLoggedIn()" class="fluid ui button icon"
        [routerLink]="['../../padlets', padlet.id, 'entriesform']">
  <i class="plus icon"></i>Neuen Entry erstellen
</button><br>

<div class="ui grid container cards">
  <div *ngFor="let entrie of entries" class="item ui card">
    <div class="content">
      <h2 class="header"><b>{{entrie?.title }}</b></h2>
      <div class="description">Entry-ID: {{entrie.id}}</div>
      <div class="description">{{entrie?.content }}</div>
      <div class="content">Ersteller-ID: {{entrie.user_id}}</div>
      <br>

      <!-- DELETE & EDIT BUTTONS -->
      <button *ngIf="authService.isLoggedIn()" class="ui tiny red icon button" (click)="removeEntrie(entrie.id)">
        <i class="delete icon"></i></button>
      <button *ngIf="authService.isLoggedIn()" [routerLink]="['../../padlets', padlet.id, 'entriesform', entrie.id]"
              class="ui tiny yellow icon button">
        <i class="edit icon"></i></button>
    </div>

    <!-- RATINGS -->
    <div class="extra">
      <h3>Ratings:</h3>
      <div *ngFor="let rating of entrie.ratings" class="extra content">
        <div class="extra">{{rating.user.firstName}} {{rating.user.lastName}}:
          <div class="ui star rating" *ngIf="rating.rating">
            <i *ngFor="let r of getRating(rating.rating)" class="yellow star icon"></i>
          </div>
        </div>
      </div>
      <!-- CREATE BUTTON -->
      <button *ngIf="authService.isLoggedIn()" class="tiny ui icon button"
              [routerLink]="['/padlets', padlet.id, 'entries', entrie.id, 'ratingsform']">
        <i class="plus icon"></i></button>
      <br>

    </div>

    <!-- COMMENTS -->
    <div class="extra">
      <h3>Comments:</h3>
      <div *ngFor="let comment of entrie.comments" class="extra content">
        <div>{{comment.user.firstName}} {{comment.user.lastName}} (ID: {{comment.user_id}}): {{comment.comment}}</div>
        <br>
      </div>
      <button *ngIf="authService.isLoggedIn()" class="tiny ui icon button"
              [routerLink]="['/padlets', padlet.id, 'entries', entrie.id, 'commentsform']">
        <i class="plus icon"></i></button>
      <br>
    </div>
  </div>
</div><br>


<!-- DELETE & EDIT BUTTONS -->
<button [routerLink]="'/padlets'" class="ui gray button">
  <i class="backward icon"></i>Zurück zur Padletliste
</button>

<button *ngIf="isOwner()" class="ui red labeled icon button" (click)="removePadlet()">
  <i class="delete icon"></i>Padlet löschen
</button>

<button *ngIf="isOwner()" [routerLink]="['../../padletsform/', padlet.id]" class="ui yellow labeled icon button">
  <i class="edit icon"></i>Padlet bearbeiten
</button>


